eclipse-workspace/SOAP2/SOAP2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap2.acme.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SOAP2" targetNamespace="http://soap2.acme.org">
  <wsdl:types>
    <xsd:schema targetNamespace="http://soap2.acme.org">
      <xsd:element name="hello">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="helloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hello2">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="x" type="xsd:int"></xsd:element>
      			<xsd:element name="y" type="xsd:double"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="hello2Response">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="helloRequest">
    <wsdl:part element="tns:hello" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="helloResponse">
    <wsdl:part element="tns:helloResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hello2Request">
  	<wsdl:part name="parameters" element="tns:hello2"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="hello2Response">
  	<wsdl:part name="parameters" element="tns:hello2Response"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloWorld">
    <wsdl:operation name="hello">
      <wsdl:input message="tns:helloRequest"/>
      <wsdl:output message="tns:helloResponse"/>
    </wsdl:operation>
    <wsdl:operation name="hello2">
    	<wsdl:input message="tns:hello2Request"></wsdl:input>
    	<wsdl:output message="tns:hello2Response"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAP2SOAP" type="tns:HelloWorld">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hello">
      <soap:operation soapAction="http://soap2.acme.org/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAP2">
    <wsdl:port binding="tns:SOAP2SOAP" name="SOAP2SOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
